name: "units-test"
on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
      - "releases/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: sh

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.x
          cache: npm
      - run: npm ci
      - run: npm run all

  # test action works running from the graph
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: z3
      - run: echo "${{ steps.z3.outputs.z3-root }}"
      - run: '[ -d "${{ steps.z3.outputs.z3-root }}" ] || exit 1'
      - if: runner.os != 'Windows'
        run: '[ -f "${{ steps.z3.outputs.z3-root }}/bin/z3" ] || exit 1'
      - if: runner.os == 'Windows'
        run: '[ -f "${{ steps.z3.outputs.z3-root }}\bin\z3.exe" ] || exit 1'
